.Works {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

.Works .Work {
  margin-top: 16px;
}

.Works .tabList {
  display: flex;
}

.Works .workList {
  display: flex;
  flex-wrap: wrap;
}

.Works .Work {
  width: 464px;
  margin-right: 8px;
  margin-left: 8px;
}

.Works .tab {
  width: 100%;
  height: 64px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #ecebeb; */
  color: #c4dfe6;
}

.Works .tab.active {
  /* box-shadow: 0 0 1px 1px #ecebeb; */
  /* background-color: #ecebeb; */
  /* border-bottom: 2px solid #ecebeb; */
  /* color: #505050; */
  color: #003b46;
}

.Works .tab:hover {
  /* color: #505050; */
  color: #003b46;
  /* background-color: #ecebeb; */
  background-color: #c4dfe6;
}
