.ServiceItem {
  width: 280px;
  margin-bottom: 32px;
}

.ServiceItem .title {
  margin-bottom: 16px;
  font-size: 24px;
}

.ServiceItem .subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  color: #a5a5a5;
}

.ServiceItem img {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}
