.Header {
  width: 920px;
  display: flex;
  position: relative;
  padding: 32px 0;
  margin: 0 auto 0;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.Header .TabBar {
  display: flex;
  align-items: center;
}
