.Skill {
  overflow: auto;
  padding: 64px 0;
  max-width: 920px;
  margin: 0 auto 0;
  text-align: center;
}

.Skill .SkillItem {
  float: left;
  margin-right: 40px;
}

.Skill .SkillItem.last {
  margin-right: 0;
}
