.SkillItem {
  width: 280px;
  margin-bottom: 32px;
}

.SkillItem .title {
  margin-bottom: 16px;
  font-size: 24px;
}

.SkillItem .subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  /* color: #a5a5a5; */
  color: #66a5ad;
}

.SkillItem img {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}
