.Footer {
  overflow: auto; /* 子要素がfloatでも、親要素のheightを自動計算してくれる */
  line-height: 96px;
  max-width: 960px;
  margin: 0 auto;
}

.Footer .FooterSns {
  float: left;
}

.Footer .Copyright {
  float: right;
}
