.MainVisual {
  display: flex;
  justify-content: center;
  margin-top: -48px;
  background-color: #003b46;
  color: white;
  padding: 64px 40px;
  font-size: 42px;
  font-weight: bold;
  min-width: 760px;
}

.MainVisual .text-box {
  width: 960px;
}

.MainVisual .text-box p:nth-child(odd) {
  text-align: left;
}

.MainVisual .text-box p:nth-child(even) {
  text-align: right;
}
