.Work {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  /* padding: 16px; */
}

.Work .title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: normal;
}

.Work .content {
  padding: 16px;
}

.Work .skill {
  /* border: 1px solid #505050; */
  background-color: #ecebeb;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  border-radius: 10px;
  padding: 0 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}
