.Footer {
  max-width: 960px;
  padding: 0, 0, 20px;
  margin: 0 auto;
}

.Footer .FooterSns {
  position: relative;
  float: left;
  width: 60%;
  margin: 60px 0 0 30px;
}

.Footer #copyright {
  float: right;
  width: 40%;
  margin-top: 32px;
  margin-bottom: 0;
  text-align: right;
}
